<h1>All Messages for <%= @user.name %></h1>
<ul>
	<% @messages.each do |message| %>
	<li>
		<%= link_to message.content, user_message_path(message) %>
	</li>
	<% end %>

	<%= link_to 'Compose a New Message', new_user_message(@user) %>
</ul>

